html,
body {
	height: 100%;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-content {
	flex: 1;
}

.footer-content {
	color: white;
	text-align: center;
	padding: 10px;
}